{% extends "base.html" %}
{% load tag %}
{% block title %}Create a question{% endblock %}
{% block content %}
            分數：{{ work.score}} / 
            評分者：{{ work.scorer }}
            尚未評分 <BR>     
  <ul class="list-group">
    <li class="list-group-item">
      <h4 class="list-group-item-heading">心得感想</h4>
      <div class="list-group-item-text">{{ work.memo|safe }}</div>
    </li>
    {% for work in contents %}
    <li class="list-group-item material" id="m_{{ work.id }}">
      {% spaceless %}
        {% if work.content_type == 1 %}
        <a href="{{work.content_link}}" target="_blank">{% if work.content_title %}{{work.content_title}}{% else %}開啟連結{% endif %}</a>
        {% elif work.content_type == 2 %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{work.content_youtube|number}}?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
        {% elif work.content_type == 3 %}
        <a href="/teacher/forum/download/{{work.id}}" target="_blank">{{work.content_title}}</a> 
        {% endif %} 
      {% endspaceless %}
    </li>
    {% endfor %}
  </ul>
{% endblock %}