{% extends "base.html" %}
{% load tag %}
{% block content %}
<form action="" enctype="multipart/form-data" id="forum_form" method="post">
  {% csrf_token %}
  <textarea name="memo" id="memo" cols="30" rows="10" style="display: none"></textarea>
  {% for work in contents %}
  <div class="material_wrapper panel panel-default" id="c{{work.id}}">
    <div class="material panel-heading">
      {% spaceless %}
        {% if work.content_type == 1 %}
        <a href="{{work.content_link}}" target="_blank">{% if work.content_title %}{{work.content_title}}{% else %}開啟連結{% endif %}</a>
        {% elif work.content_type == 2 %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{work.content_youtube|number}}?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
        {% elif work.content_type == 3 %}
        <a href="/teacher/forum/download/{{work.id}}" target="_blank">{{work.content_title}}</a> 
        {% endif %} 
      {% endspaceless %}
    </div>
    <div class="comment_wrapper panel-body">
      {% if work.content_type == 2 %}{% spaceless %}
      <div class="comment_tool"><button type="button" class="btn btn-primary btn-xs btn-add-marker">＋新增時間標記</button></div>
      {% endspaceless %}{% endif %}
      <textarea class="comment-body form-control" name="c_{{work.id}}" id="c{{work.id}}_body" cols="30" rows="10"></textarea>
    </div>
  </div>
  {% endfor %}
  <input class="button button-default" type="submit" value="送出">
</form>
{% endblock %}

{% block footer_script %}
<script>
function secToTime(sec) {
    return (new Date(sec*1000)).toUTCString().split(' ')[4];
}

function onYouTubeIframeAPIReady() {
  $('.material iframe[src*="www.youtube.com"]').each(function(index, element) {
      var playerID = $(element).parent().parent().attr('id')+'_player';
      var player;
      $(element).attr('id', playerID);
      player = new YT.Player(playerID);
      $(".btn-add-marker", $(element).parent().parent()).click(function(e) {
        var commentID = '#'+$(element).parent().parent().attr('id')+'_body';
        var comment_body = $(commentID).val();
        if (comment_body)
          comment_body += "\n";
        comment_body += "["+secToTime(player.getCurrentTime().toFixed())+"]";
        $(commentID).val(comment_body).focus();
      });
  });
}

$(document).ready(function () {
  //------------------------------------------------------------------------
  // Load YouTube API library
  var tag = document.createElement('script');
  tag.id = 'iframe-demo';
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);  
});

$('#forum_form').submit(function(se) {
  var memo = [];
  var verified = true;
  $('.comment-body').each(function(index, element) {
    var cid = parseInt($(element).parent().parent().attr('id').substr(1));
    element.value = element.value.trim();
    if (element.value === "") {
      verified = false;
      $(element).parent().addClass('has-error');
      $(element).focus();
    }
    else {
      $(element).parent().removeClass('has-error');
      memo.push({id: cid, comment: element.value});
    }
  });
  if (!verified) {
    alert('還有心得沒有寫噢！！');
    return false;
  }
  $('#memo').val(JSON.stringify(memo));
});
</script>
{% endblock %}