{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
        <table>
            <tr>
                <td>名稱</td>
                <td colspan=10>功能</td>
	        {% for work in works %}
            <tr>
							<td>{{work.title}}</td>
              <td><a href="/student/work/submit/{{work.id}}">繳交</a></td>
              <td><a href="/student/work/show/{{work.id}}">觀看</a></td>							
							<td><a href="/student/work/rank/{{work.id}}">排行榜</a></td>  
							<td><a href="/student/work/video/{{classroom_id}}/{{work.id}}">作業</a></td>  							
							<td><a href="/student/work/memo/{{classroom_id}}/{{work.id}}">心得</a></td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}