{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
        <a href="/teacher/work/add/{{classroom_id}}">新增作業</a><BR><BR>
        <table>
            <tr>
                <td>名稱</td>
                <td>時間</td>				
                <td colspan=2>功能</td>
        {% for work in works %}
            <tr>
            <td>{{work.title}}</td>
			<td>{{work.time}}</td>
            <td><a href="/teacher/work/class/{{classroom_id}}/{{work.id}}">評分</a></td>
            <td><a href="/student/work/memo/{{classroom_id}}/{{work.id}}">心得</a></td>			
            </tr>
        {% endfor %}
        </table>
{% endblock %}